/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
.loader {
  display: none;
  margin: 20px auto;
}
.loader.is-active {
  width: 48px;
  height: 48px;
  border: 5px solid #0026ff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.container {
  margin: 0 auto;
  max-width: 1158px;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin: 20px;
}
.search-input {
  border: 1px solid #808080;
  padding: 8px 16px;
  border-radius: 4px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;

  transition: border-color ease 250ms;
}
.search-input:hover {
  border-color: #000;
}
.search-input:focus,
.search-input:active {
  border-color: #0026ff;
  outline: none;
}
.btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  height: 40px;
  background: #4e75ff;
  color: #fff;

  transition: background-color ease 250ms;
}
.btn:hover {
  background-color: #6c8cff;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  border: 1px solid #808080;
  width: calc((100% - 48px) / 3);
}
.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;

  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4px 0;
  border-top: none;
  background-color: #fff;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.btn-load-more {
  margin: 32px auto;
  display: block;
}
